* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background-color: #fff;
  color: #333;
  font: 1.2rem/1.5 Consolas, Andale Mono, Monaco,
    Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  padding: 30px;
}

::selection {
  background: #d07;
  color: #fff;
}

a {
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  text-decoration: none;
  transition: border-bottom .1s ease-in-out, color .1s ease-in-out;
}

a:link {
  color: #07d;
}

a:visited {
  color: #07d;
}

a:active {
  border-bottom-color: #fdb;
  color: #f81;
}

a:hover {
  color: #0ae;
  border-bottom-color: #bdf;
}

h1,
h2 {
  font-family: -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: #111;
  display: block;
  font-weight: 500;
  margin-top: 0;
}

h1 {
  font-size: 0;
}

h1 i,
h1 a {
  font-size: 1.5rem;
}

h1 i {
  font-style: normal;
}

h1 a {
  border-bottom: 1px dashed transparent;
  color: inherit;
  word-break: break-all;
  display: inline-block;
}

h1 a:last-child {
  font-weight: bold;
}

h1 a + a:before {
  content: "/";
}

h1 a:hover {
  color: #7d7d7d;
}

main {
  max-width: 600px;
}

a.dot {
  color: #999;
  opacity: .5;
}

a[href^=".."],
ul li:first-child a {
  opacity: .75;
}

ul {
  list-style: none;
  padding-top: 20px;
}

ul li {
  font-size: 14px;
  position: relative;
}

ul li i {
  color: #999;
  display: block;
  font-size: 11px;
  font-style: normal;
  line-height: 1;
}

ul a {
  border-width: 0;
  display: block;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul li + li a {
  padding-top: 20px;
}

ul a:before {
  color: inherit;
  /* doc pictogram: \f016 */
  /* doc pictogram, w/ fill: \f15b */
  content: "\f016";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1rem;
  margin-right: 10px;
}

ul a[href*="../"]:before,
ul li:first-child a:before {
  /* doc pictogram: \f01b */
  /* up pictogram, w/ fill: \f062 */
  content: "\f062";
}

ul a.dir {
  font-weight: bold;
}

ul a.dir:before {
  /* folder pictogram: \f114 */;
  /* folder pictogram, w/ fill: \f07b */
  /* open folder pictogram, w/ fill: \f07c */
  content: "\f07b";
}

ul a.dir + i {
  display: none;
}

ul a[href$=".mp4"]:before {
  content: "\f1c8";
}

ul a[href$=".pdf"]:before {
  content: "\f1c1";
}

ul a[href$=".zip"]:before {
  content: "\f1c6";
}

ul a[href$=".jpg"]:before,
ul a[href$=".png"]:before {
  content: "\f1c6";
}

ul a[href$=".njk"]:before,
ul a[href$=".json"]:before {
  content: "\f1c9";
}

ul a[href$=".txt"]:before,
ul a[href$=".md"]:before {
  /* doc pictogram: \f0f6 */
  /* doc pictogram, w/ fill: \f15c */
  content: "\f0f6";
}

ul a[href^="//"]:before,
ul a[href^="https://"]:before,
ul a[href^="http://"] {
  content: "\f14c";
}

ul a[href*="//github.com/"]:before {
  content: "\f09b";
}

/*
ul a[href*="//github.com/"][href*="/tree/"]:before,
ul a[href*="//github.com/"][href*="/blob/"]:before,
ul a[href*="//github.com/"][href*="/pulls/"]:before {
  content: "\f126";
}
*/

ul a:hover {
  color: #111;
}

.aside {
  border-top: 1px dotted #eee;
  color: #444;
  font-size: .7rem;
  font-style: italic;
  margin-top: 30px;
  padding-top: 30px;
}

.aside p {
  font-size: .8rem;
  margin: 0;
  line-height: 1.8;
}

.aside a {
  color: #999;
}

.aside a:hover {
  border-bottom-color: #ccc;
}

.aside strong {
  color: #666;
  font-size: .9rem;
}

.icon {
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  width: 1em;
}

@media (min-width: 599px) {
  body {
    padding: 45px;
  }

  h1 i,
  h1 a {
    font-size: 1.3rem;
  }

  ul li {
    font-size: 13px;
  }

  ul li i {
    font-size: 10px;
    margin-left: 10px;
    opacity: .5;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 25px;
    bottom: 0;
    vertical-align: bottom;
    transition: opacity .1s ease-in-out;
  }

  ul li:hover i {
    opacity: 1;
  }

  ul a {
    padding: 5px 0;
  }

  .aside {
    margin-top: 45px;
    padding-top: 45px;
  }
}
